@page
@model MasterBlogPersentaion.Pages.IndexModel
@{
}

<main class="posts-listing col-lg-12">
    <div class="container">
        <div class="row">

            @foreach (var article in Model.ArticleList)
            {
                <div class="post col-xl-6">
                    <div class="post-thumbnail" >
                        <a asp-page="/ArticleDetails" asp-route-id="@article.Id" style="height: 303px;height: 303px;width: 100%;overflow: hidden">
                            <img src="@article.Image" alt="" title="x" class="img-fluid" style="display: block;width: 100%;height: 100%;object-fit: fill">
                        </a>
                    </div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            <div class="date meta-last">@article.CreatedOn</div>
                            <div class="category">
                                <a asp-page="/ArticleDetails" asp-route-id="@article.Id">@article.ArticleCategory</a>
                            </div>
                        </div>
                        <a asp-page="/ArticleDetails" asp-route-id="@article.Id">
                            <h3 class="h4">@article.Title</h3>
                        </a>
                        <p class="text-muted">
                            @article.ShortDescription
                        </p>
                        <footer class="post-footer d-flex align-items-center">
                            <div class="comments meta-last"><i class="icon-comment"></i>CommentsCount</div>
                        </footer>
                    </div>
                </div>
            }

        </div>
    </div>
</main>